.stories-fs {
    padding: 20px 0;
    overflow: hidden;

    &__track {
        display: flex;
        transform: translate3d(0, 0, 0);
    }

    &__slide {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        height: auto;
        transition: $transition;
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 50%;

        &:hover {
            border: 1px solid rgb(226, 226, 226);
        }

    }

    &__preview {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;

        &:after {
            position: relative;
            display: block;
            content: "";
            z-index: 10;
            width: 100%;
            padding-bottom: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

}
