.stories-fs {
    &__arrows {
        &.hide-arrows {
            display: none;
        }
    }

    &__arrow {
        cursor: pointer;
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        width: 42px;
        height: 42px;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20% 100%;
        opacity: 0.8;
        transition: $transition;
        background-color: rgba(255, 255, 255, 0.233);

        &:hover {
            background-color: rgba(255, 255, 255, 0.767);
            opacity: 1;
        }

        &.disabled {
            opacity: 0.2;

            &:hover {
                cursor: auto;
                background-color: rgba(255, 255, 255, 0.233);
                opacity: 0.2;
            }
        }

        &--prev {
            left: 0;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='13' height='25' viewBox='0 0 13 25' fill='none'%3e%3cpath d='M10.2971 23.4972C10.6943 23.4979 11.0792 23.3703 11.385 23.1365C11.5572 23.0049 11.6995 22.8432 11.8038 22.6608C11.908 22.4784 11.9723 22.2788 11.9928 22.0734C12.0133 21.8681 11.9898 21.661 11.9234 21.464C11.857 21.2671 11.7492 21.0842 11.606 20.9257L3.99049 12.5215L11.334 4.1016C11.4753 3.94122 11.5807 3.75668 11.6443 3.55859C11.708 3.36049 11.7285 3.15275 11.7048 2.94731C11.6811 2.74186 11.6136 2.54276 11.5063 2.36145C11.3989 2.18013 11.2537 2.02018 11.0791 1.89079C10.9032 1.74805 10.6972 1.64038 10.4741 1.57455C10.2509 1.50871 10.0155 1.48613 9.78242 1.50821C9.54938 1.53029 9.3238 1.59657 9.11984 1.70288C8.91589 1.80919 8.73795 1.95324 8.59721 2.12598L0.386705 11.5337C0.136682 11.8143 0 12.1662 0 12.5293C0 12.8925 0.136682 13.2444 0.386705 13.525L8.88619 22.9327C9.05672 23.1224 9.27335 23.2724 9.51849 23.3705C9.76363 23.4686 10.0304 23.512 10.2971 23.4972Z' fill='%23000E29'/%3e%3c/svg%3e");
        }

        &--next {
            right: 0;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='13' height='25' viewBox='0 0 13 25' fill='none'%3e%3cpath d='M2.70289 23.4972C2.30571 23.4979 1.92079 23.3703 1.61495 23.1365C1.44283 23.0049 1.30054 22.8432 1.19625 22.6608C1.09196 22.4784 1.02771 22.2788 1.00718 22.0734C0.986652 21.8681 1.01025 21.661 1.07662 21.464C1.14299 21.2671 1.25083 21.0842 1.39397 20.9257L9.00951 12.5215L1.66595 4.1016C1.52475 3.94122 1.4193 3.75668 1.35567 3.55859C1.29204 3.36049 1.27148 3.15275 1.29518 2.94731C1.31887 2.74186 1.38635 2.54276 1.49374 2.36145C1.60113 2.18013 1.74631 2.02018 1.92094 1.89079C2.09682 1.74805 2.30279 1.64038 2.52592 1.57455C2.74905 1.50871 2.98453 1.48613 3.21758 1.50821C3.45062 1.53029 3.6762 1.59657 3.88016 1.70288C4.08411 1.80919 4.26205 1.95324 4.40279 2.12598L12.6133 11.5337C12.8633 11.8143 13 12.1662 13 12.5293C13 12.8925 12.8633 13.2444 12.6133 13.525L4.11381 22.9327C3.94328 23.1224 3.72665 23.2724 3.48151 23.3705C3.23637 23.4686 2.96961 23.512 2.70289 23.4972Z' fill='%23000E29'/%3e%3c/svg%3e");
        }
    }
}
